{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if already_published %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <div class="date">
                    Created on date: {{ post.created_date|date:"d-m-Y" }}<br/>
                {% if post.published_date %}
                    Publication date: {{ post.published_date|date:"d-m-Y" }}                 {% else %}
                    No publication date yet
                {% endif %}
            </div>



        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        {% if not already_published %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-asterisk"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>

{% endblock %}
