{% extends 'blog/base.html' %}

{% block content %}

    {% if form.title != "" %}
        <h1>Editing post</h1>
    {% else %}
        <h1>New post</h1>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button name="cancel" class="save btn btn-default">Cancel</button>
        <button name="save" class="save btn btn-default">Save</button>
        <button name="publish" class="save btn btn-default">Publish</button>
    </form>
{% endblock %}