{% extends 'blog/base.html' %}

{% block content %}


    <form method="POST" class="post-form">{% csrf_token %}
        {% if form.Meta.title == "" %}
            <h1>New Post</h1>
            {{ form.Meta.title }}
        {% else %}
            <h1>Editing Post</h1>
            {{ form.Meta.title }}
        {% endif %}

        {{ form.as_p }}
        <button name="cancel" class="save btn btn-default">Cancel</button>
        <button name="save" class="save btn btn-default">Save</button>
        <button name="publish" class="save btn btn-default">Publish</button>
    </form>
{% endblock %}