{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if already_published %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <div class="date">
                    Created on date: {{ post.created_date|date:"d-m-Y" }}<br/>
                {% if post.published_date %}
                    Publication date: {{ post.published_date|date:"d-m-Y" }}<br/>
{#                    Publication time: {{ post.published_date|time:'c' }}#}
                {% else %}
                    No publication date yet
                {% endif %}
            </div>

        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% if not already_published %}
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-asterisk"></span></a>
            {% endif %}
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>



    <div>
        <h2>Comments
            <a class="btn btn-default" href="{% url 'comment_new' post_pk=post.pk comment_pk=0%}"><span class="glyphicon glyphicon-plus"></span></a>
        </h2>
        <div>
            {% for comment in comments %}
                <b><u>{{ comment.author }}</u></b> - Level: {{ comment.level }} -
                <a href="{% url 'comment_delete' post_pk=post.pk comment_pk=comment.pk %}">Remove</a>
                <div class="date">
                    {{ comment.created_date|time }} {{ comment.created_date|date:"d-m-Y" }}
                </div>

                <p>
                    {{ comment.text }}<br/>
                    <a href="{% url 'comment_new' post_pk=post.pk comment_pk=comment.pk%}">[ Reply ]</a>
                </p>

                <br/>
            {% endfor %}
        </div>
    </div>

{% endblock %}
