{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <p>The following post will be deleted:</p>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>

        <form method=POST class="post-form">{% csrf_token %}
            <button name="cancel_return_to_list" class="save btn btn-default">Cancel and Return to Main Page</button>
            <button name="cancel_return_to_post" class="save btn btn-default">Cancel and Return to Post</button>
            <button name="delete" class="save btn btn-default">Delete this Post</button>
        </form>
    </div>

{% endblock %}
