{% extends 'blog/base.html' %}
{% block content %}
    <div>
        <h1>Unpublished and Future Posts:</h1>
    </div>
    {% if user.is_authenticated %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    Created on date: {{ post.created_date|date:"d-m-Y" }}<br/>
                    {% if post.published_date %}
                        Publication date: {{ post.published_date|date:"d-m-Y" }}
                    {% else %}
                        No publication date yet
                    {% endif %}
                </div>
                <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|truncatechars:200 }}</p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}